<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Log in</h2>
            <% if (typeof errors != 'undefined') { %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <% errors.forEach(error => { %>
                    <li> <%= error.msg %> </li>
                  <% }) %>
                </ul>
              </div>
            <% } %>

            <form method="POST" action="/">
                <div class="mb-3">
                  <label for="nama" class="form-label">Username</label>
                  <input type="text" class="form-control" id="nama" name="nama">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-warning rounded-pill btn-lg">log-in
                </button>
                <a href="/sign-up" type="submit" class="btn btn-info rounded-pill btn-lg d-block mt-3">register
                </a>

              </form>
        </div>
    </div>
</div>