<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Log in</h2>
            <form method="POST" action="landingPage">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                  <label for="pasword" class="form-label">Pasword</label>
                  <input type="email" class="form-control" id="pasword" name="pasword">
                </div>
                <button type="submit" class="btn btn-warning rounded-pill ">Submit</button>
              </form>
        </div>
    </div>
</div>